
  <div class="container-fluid">
    <div class="row">
        <button class="hoverable col-sm-12 col-md-4 card mr-5 mb-5 mt-5" style="width: 18rem;height: 15rem; background-color:#FF5733 ;">
          <div class="card-body">
            <h2 class="card-title">Offres Achats</h2>
          </div>
        </button>
      <button class="hoverable col-sm-12 col-md-4 card mb-5 mt-5" style="width: 18rem;height: 15rem;background-color: #2C9573;">
        <div class="card-body">
          <h2 class="card-title">Offres Ventes</h2>
        </div>
      </button>
    </div>

    <div class="row">
      <button class="btn hoverable col-sm-12 col-md-4 mr-5 mb-5 mt-3" style="background-color: #952F2C ;">Acheter</button>
      <button class="btn btn-dark hoverable col-sm-12 col-md-4    mr-5 mb-5 mt-3">Vendre</button>
    </div>
  </div>
  
  