<div class="container-fluid haut">
  <div>

  </div>
  <h1>Bienvenue dans votre plateforme agricole Sen Bon Poulet</h1>
</div>

<div class="container-fluid" style="margin-top: 30px;">
  <div class="row">
    <nav class="col-md-12 col-lg-3">
      <ul class="vertical-menu">
          <li><a class="hoverable btn-primary" href="#" routerLink="/accueil">Accueil</a></li>
          <li><a class="hoverable marge-top" href="#">Contacts</a></li>
          <li><a class="hoverable marge-top" href="#" routerLink="/connexion">Connexion</a></li>
          <li><a class="hoverable marge-top " href="#" routerLink="/inscription">Inscription</a></li>
      </ul>
    </nav>
    <div class="col-md-12 col-lg-9">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>

<footer class="font-small blue-grey lighten-5 container-fluid ">

  <div style="background-color: #21d192;">
    <div class="container">

      <div class="row py-4 d-flex align-items-center">

        <div class="col-md-12 col-lg-12 text-center text-md-left mb-4 mb-md-0">
          <h6 class="mb-0" style="font-size: large;text-align: center;color: floralwhite;">
            Achetez et vendez des produits agricoles sans limites  !!!!</h6>
        </div>

        
      </div>

    </div>
  </div>

  <div class="container-fluid text-center text-md-left mt-0 pl-5 ml-0" style="background-color: #F2F3F4;">

    <div class="row pt-5 dark-grey-text"style="margin-left:20px;">

      <div class="col-md-4 col-lg-4 col-xl-4 mb-4">

        <h6 class="text-uppercase font-weight-bold" style="font-size: large;color: #5D6D7E;">sen bon poulet</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p style="color: #7F8C8D;">Here you can use rows <br> and columns to organize <br> your footer content.<br> Lorem ipsum dolor sit.</p>

      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-4">

        <h6 class="text-uppercase font-weight-bold" style="font-size: large;color: #5D6D7E;">Produits</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <a class="dark-grey-text lienFoot" href="#!">Poulets entiers</a>
        </p>
        <p>
          <a class="dark-grey-text lienFoot" href="#!">Decoupés</a>
        </p>
        <p>
          <a class="dark-grey-text lienFoot" href="#!">Accompagnements</a>
        </p>
        <p>
          <a class="dark-grey-text lienFoot" href="#!">Marines</a>
        </p>

      </div>
      <div class="col-md-4 col-lg-4 col-xl-4 mx-auto mb-md-0 mb-4">

        <h6 class="text-uppercase font-weight-bold" style="font-size: large;color: #5D6D7E;">Contact</h6>
        <hr class="teal accent-3 mb-4 mt-0 d-inline-block mx-auto" style="width: 60px;">
        <p>
          <i class="fas fa-home mr-3"></i> New York, NY 10012, US</p>
        <p>
          <i class="fas fa-envelope mr-3"></i> ens.sen.bon.poulets@gmail.com</p>
        <p>
          <i class="fas fa-phone mr-3"></i> +221 77 612 81 76</p>

      </div>

    </div>

  </div>
  
  <div class="footer-copyright text-center text-black-50 py-3" style="background-color: #BDC3C7;">© 2020 Copyright:
    <a class="dark-grey-text lienFoot" href="https://mdbootstrap.com/"> MDBootstrap.com</a>
  </div>

</footer>




  
