  <form>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="inputEmail4">Login</label>
        <input type="email" class="form-control" id="inputEmail4">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword4">Mot de passe</label>
        <input type="password" class="form-control" id="inputPassword4">
      </div>
    </div>
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="nom">Nom</label>
        <input type="text" class="form-control" id="nom">
      </div>
      <div class="form-group col-md-6">
        <label for="inputPassword5">Confirmer mot de passe</label>
        <input type="password" class="form-control" id="inputPassword5">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="prenom">Prénom</label>
        <input type="text" class="form-control">
      </div>
      <div class="form-group col-md-6">
        <label for="numCni">Numéro CNI (carte d'identité nationale)</label>
        <input type="number" class="form-control">
      </div>
    </div>
    
    <div class="form-row">
      <div class="form-group col-md-6">
        <label for="num">Numéro de téléphone</label>
        <input type="text" class="form-control" id="num" placeholder="exemple: +221 77 250 ...">
      </div>
      <div class="form-group col-md-6">
        <label for="dateDeliv">Date de délivrance CNI</label>
        <input type="text" class="form-control" id="dateDeliv" placeholder="exemple: 01/01/2015">
      </div>
    </div>
    <div class="form-group">
      <label for="inputState">Localisation</label>
      <select id="inputState" class="form-control">
        <option selected>Choose...</option>
        <option selected>Choisir...</option>
        <option>Dakar</option>
        <option>Thies</option>
        <option>Ziguinchor</option>
        <option>Kaolack</option>
        <option>Saint-louis</option>
      </select>
    </div>
    <button type="submit" class="hoverable btn btn-warning">Inscription</button>
  </form>

